@font-face {
  font-family: "Iran Sans";
  src: url(../fonts/iran-sans/Iranian\ Sans.ttf);
}

@font-face {
  font-family: "TrajanPro";
  src: url(../fonts/TrajanPro/TrajanPro-Regular.otf);
}

@font-face {
  font-family: "TrajanPro bold";
  src: url(../fonts/TrajanPro/TrajanPro-Bold.otf);
}
