@font-face {
  font-family: "TrajanPro bold";
  src: url("../fonts/TrajanPro/TrajanPro-Bold.otf");
}
@font-face {
  font-family: "TrajanPro Regular";
  src: url("../fonts/TrajanPro/TrajanPro-Regular.otf");
}

@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 10;
  src: url("../fonts/dana/woff2/Dana-Hairline.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Hairline.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/dana/woff2/Dana-Thin.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Thin.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/dana/woff2/Dana-UltraLight.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-UltraLight.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/dana/woff2/Dana-Light.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Light.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/dana/woff2/Dana-Medium.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Medium.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/dana/woff2/Dana-DemiBold.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-DemiBold.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/dana/woff2/Dana-ExtraBold.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/dana/woff2/Dana-Black.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Black.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 930;
  src: url("../fonts/dana/woff2/Dana-ExtraBlack.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-ExtraBlack.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 960;
  src: url("../fonts/dana/woff2/Dana-Heavy.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Heavy.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: 990;
  src: url("../fonts/dana/woff2/Dana-Fat.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Fat.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/dana/woff2/Dana-ExtraBold.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-ExtraBold.woff") format("woff");
}
@font-face {
  font-family: dana;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/dana/woff2/Dana-Regular.woff2") format("woff2"),
    url("../fonts/dana/woff/Dana-Regular.woff") format("woff");
}
