@font-face {
  font-family: "dana";
  src: url(../fonts/dana/DanaFaNum-Regular.woff2);
}

@font-face {
  font-family: "dana Medium";
  src: url(../fonts/dana/DanaFaNum-Medium.woff2);
}

@font-face {
  font-family: "dana DemiBold";
  src: url(../fonts/dana/DanaFaNum-DemiBold.woff2);
}

@font-face {
  font-family: "TrajanPro";
  src: url(../fonts/TrajanPro/TrajanPro-Regular.otf);
}

@font-face {
  font-family: "TrajanPro bold";
  src: url(../fonts/TrajanPro/TrajanPro-Bold.otf);
}
