@import "./fonts.css";

/* Difaults Css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Iran Sans";
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
  padding-top: 12rem;
  transition: all 200ms ease-in;
}

body.small {
  padding-top: 9rem;
}

*,
*::after,
::before {
  outline: none;
  box-sizing: inherit;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 0 2rem;
}

/* Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  background-color: #fff5d4;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
  transition: all 200ms ease-in;
}

.small .top-bar {
  height: 9rem;
}

.green {
  width: 33%;
  height: 100%;
  border-bottom: 5px solid #009246;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
  border-bottom: 5px solid #fff;
}

.red {
  width: 33%;
  height: 100%;
  border-bottom: 5px solid #ce2b37;
}

.header__logo {
  width: 11rem;
  height: 11rem;
  user-select: none;
  transition: all 200ms ease-in;
}

.small .header__logo {
  width: 8rem;
  height: 8rem;
}

/* Main Header */

.main-header {
  direction: ltr;
  padding: 2rem 2rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imges/luce-bg.PNG) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 28rem;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
  position: relative;
  z-index: 1;
}

.main-header__title {
  margin-top: 1rem;
  color: #fff5d4;
  font-size: 5rem;
  line-height: 1;
  width: 100%;
  text-align: center;
  font-family: "TrajanPro bold";
}

.main-header__text {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  color: #fff5d4;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

/* Main */

.main {
  background-color: #fff5d4;
  padding: 4rem 0;
}

/* category */

.menu-container__title {
  text-align: center;
  font-size: 3.5rem;
  font-family: "TrajanPro bold";
  margin-bottom: 1rem;
  color: #634126;
  text-shadow: 2px 2px 3px #63412693;
}

.categories {
  display: flex;
  row-gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 1.5rem;
  color: #3b2518;
  transition: all ease-in 200ms;
}

.category__icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #6b4729b7;
  border-radius: 100%;
  width: 7rem;
  height: 7rem;
}

.category__icon {
  fill: #6b4729ee;
  width: 3.5rem;
  height: 3.5rem;
}

.active .category__icon-box {
  background-color: #6b4729ee;
}

.active .category__icon {
  fill: #fff5d4;
}

.category__title {
  font-size: 2.4rem;
  color: #6b4729ee;
}

/* menu */

.menu {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: calc(50% - 0.5rem);
  height: 228px;
  border: 2px solid #6b4729b7;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.menu-item__name {
  font-size: 2.2rem;
  color: #473628;
  margin-bottom: 1rem;
}

.menu-item__about {
  color: #6b4729b7;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 1rem;
}

.menu-item__price {
  font-size: 1.8rem;
  color: #473628;
}
