/* Difaults Css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
}

*,
*::after,
::before {
  outline: none;
  box-sizing: inherit;
}
