@import "./fonts.css";

/* Difaults Css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Vazirmatn";
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
  padding-top: 9rem;
}

*,
*::after,
::before {
  outline: none;
  box-sizing: inherit;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 0 2rem;
}

/* Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9rem;
  background-color: #fff5d4;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
}

.green {
  width: 33%;
  height: 100%;
  background-color: #009246;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
  background-color: #fff;
}

.red {
  width: 33%;
  height: 100%;
  background-color: #ce2b37;
}

.header__logo {
  width: 8rem;
  height: 8rem;
}

/* Main Header */

.main-header {
  direction: ltr;
  padding: 2rem 2rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imges/luce-bg.PNG) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 30rem;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
  position: relative;
  z-index: 1;
}

.main-header__title {
  color: #fff5d4;
  font-size: 5rem;
  line-height: 1;
  width: 100%;
  text-align: center;
  font-family: "TrajanPro bold";
}

.main-header__text {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 2rem;
  color: #fff5d4;
  text-align: center;
}

/* Main */

.main {
  background-color: #fff5d4;
  padding: 4rem 0;
}

/* category */

.menu-container__header {
  text-align: left;
}

.menu-container__title {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1rem;
  font-size: 3rem;
  margin-right: auto;
  font-family: "TrajanPro bold";
  z-index: 1;
  margin-bottom: 2rem;
  background-color: white;
  color: #3b2518;
}

.menu-container__title::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 3.5rem;
  background-color: #009246;
  z-index: -1;
}

.menu-container__title::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 3.5rem;
  background-color: #ce2b37;
  z-index: -1;
}

.category {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #3b2518;
  padding: 0.5rem 1rem;
  border: 2px solid #6b4729b7;
  border-radius: 0.5rem;
  transition: all ease-in 200ms;
}

.category__icon {
  fill: #3b2518;
  width: 20px;
  height: 20px;
}

.active {
  border: 2px solid #3b2518;
  background-color: #3b2518;
  color: #fff5d4;
}

.active .category__icon {
  fill: #fff5d4;
}

.category__title {
  font-size: 1.6rem;
}

/* menu */

.menu {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: calc(50% - 0.5rem);
  border: 2px solid #6b4729b7;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.menu-item__name {
  font-size: 2rem;
  color: #473628;
  font-weight: bold;
  margin-bottom: 1rem;
}

.menu-item__about {
  color: #6b4729b7;
  text-align: center;
  margin-bottom: 1rem;
  word-break: break-all;
}

.menu-item__price {
  font-size: 2rem;
  color: #473628;
  font-weight: bold;
}
