@import "./fonts.css";

/* Difaults Css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "TrajanPro";
}

body {
  line-height: 1.6;
  font-size: 1.6rem;
  direction: rtl;
}

*,
*::after,
::before {
  outline: none;
  box-sizing: inherit;
}

/* Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  direction: ltr;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 9rem;
  background-color: #fff5d4;
  padding: 0 1rem;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 0.5);
}

.top-bar__name-cafe {
  font-family: "TrajanPro bold";
  color: #3b2518;
  font-size: 3rem;
  padding-left: 1rem;
}

.header__logo {
  width: 7rem;
  height: 7rem;
}

.main-header {
  direction: ltr;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  padding: 12rem 4rem 0;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../imges/background_landing.jfif) no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  height: 45rem;
}

.main-header__title {
  color: #fff5d4;
  width: 100%;
  text-align: left;
  font-family: "TrajanPro bold";
}

.main-header__name-title {
  font-size: 7rem;
  line-height: 1;
}

.main-header__sub-title {
  font-size: 3.5rem;
  padding-left: 1rem;
}

.main-header__text {
  width: 100%;
  color: #fff5d4;
  text-align: right;
}
