@import "./fonts.css";
@import "./reset.css";

/* Difaults Css */

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  direction: rtl;
  font-size: 1.6rem;
  line-height: 1.6;
  padding-top: 12rem;
  transition: all 200ms ease-in;
  font-family: "Dana";
  font-weight: 400;
  background-color: #fff5d4;
}

body.small {
  padding-top: 9rem;
}

*,
*::after,
::before {
  outline: none;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.container {
  padding: 0 2rem;
}

/* Top Bar */

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
  background-color: #fff5d4;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
  transition: all 200ms ease-in;
}

.small .top-bar {
  height: 9rem;
}

.green {
  width: 33%;
  height: 100%;
  border-bottom: 5px solid #009246;
}

.white {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34%;
  height: 100%;
  border-bottom: 5px solid #fff;
}

.red {
  width: 33%;
  height: 100%;
  border-bottom: 5px solid #ce2b37;
}

.header__logo {
  width: 11rem;
  height: 11rem;
  user-select: none;
  transition: all 200ms ease-in;
}

.small .header__logo {
  width: 8rem;
  height: 8rem;
}

/* Main Header */

.main-header {
  direction: ltr;
  padding: 2rem 2rem 0;
  background: linear-gradient(to left top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)),
    url(../imges/luce-bg.jpeg) no-repeat center center;
  background-size: cover;
  text-align: center;
  height: 25rem;
  box-shadow: 0 0px 10px rgba(59, 37, 24, 1);
  position: relative;
  z-index: 1;
}

.main-header__title {
  margin-top: 1rem;
  color: #fff5d4;
  font-size: 5rem;
  line-height: 1;
  width: 100%;
  text-align: center;
  font-family: "TrajanPro bold";
}

.main-header__text {
  font-weight: 700;
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1.8rem;
  color: #fff5d4;
  text-align: center;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
}

/* Main */

.main {
  padding: 4rem 0;
}

/* category */

.menu-container__title {
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  color: #634126;
}

.categories {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 100%;
  height: 62px;
  border: 2px solid #634126;
  background-color: #fff8e1;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: all 200ms ease-in;
  overflow: hidden;
}

.category__right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-left: 0.5rem;
  transition: all 200ms ease-in;
}

.category__title {
  font-size: 2rem;
  font-weight: 600;
  color: #634126;
  transition: all 200ms ease-in;
}

.category__example {
  font-weight: 500;
  color: #6b4729da;
  font-size: 1.2rem;
  transition: all 200ms ease-in;
}

.category__left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-right: 0.5rem;
  border-right: 2px solid #634126;
  transition: all 200ms ease-in;
}

.category__icon {
  fill: #634126;
  width: 3rem;
  height: 3rem;
  transition: all 200ms ease-in;
}

.category.active {
  background-color: #634126;
}

.category.active .category__right {
  margin-top: 1.8rem;
}

.category.active .category__right .category__title {
  color: #fff5d4;
  font-size: 2.5rem;
  font-weight: 800;
}

.category.active .category__right .category__example {
  opacity: 0;
  visibility: hidden;
}

.category.active .category__left {
  border-color: #fff5d4;
}

.category.active .category__left .category__icon {
  fill: #fff5d4;
}

/* menu */

.menu {
  display: flex;
  gap: 2rem 1rem;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: calc(50% - 0.5rem);
  height: 180px;
  box-shadow: 0 0px 5px 0px rgba(59, 37, 24, 0.3);
  background-color: #fff8e1;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.menu-item__name {
  display: block;
  font-weight: 500;
  font-size: 2.2rem;
  color: #473628;
  margin-bottom: 1rem;
  text-align: center;
}

.menu-item__about {
  font-weight: 300;
  color: #6b4729b7;
  text-align: justify;
  text-align-last: center;
  margin-bottom: 1rem;
}

.menu-item__price {
  font-size: 1.8rem;
  font-weight: 800;
  color: #473628;
}

/* Footer */

.footer {
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 -5px 10px 0px rgba(59, 37, 24, 0.1);
  background-color: #fff;
  margin: 0 1rem;
  margin-bottom: 2rem;
}

.about {
  display: flex;
  justify-content: space-between;
  direction: ltr;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: 1px solid #473628;
  margin-bottom: 2rem;
}

.instagram {
  width: 50%;
  border-right: 1px solid #6b4729b7;
}

.instagram__link {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.instagram__wrapper-icon {
  height: 60px;
  width: 60px;
}

.instagram__text {
  color: #473628;
  font-weight: 800;
}

.instagram__id {
  font-size: 1.4rem;
  color: #ce2b37;
}

.instagram__icon {
  width: 60px;
  height: 60px;
}

.numbers {
  width: 50%;
}

.number {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.numbers__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 0.5rem;
  padding-left: 1rem;
}

.numbers__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: #00924727;
  width: 25px;
  height: 25px;
}

.numbers__icon {
  width: 15px;
  height: 15px;
  fill: #009246;
}

.number__text {
  color: #473628;
  font-weight: 600;
}

.map {
  min-width: 300px;
  max-height: 300px;
  width: 100%;
  height: 300px;
  border-radius: 2rem;
}

.location__text {
  font-size: 1.4rem;
  font-weight: 300;
  color: #473628;
  text-align: center;
  margin-top: 0.5rem;
}
