swiper-container {
  width: 100%;
  height: 100%;
  padding: 0 1rem;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide {
  width: auto;
  margin-left: 0;
}
